.header {
  padding: 50px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header--active {
  position: fixed;
  background-color: #010101;
  animation: 0.2s head-anim;
  padding: 20px 0;
  z-index: 1000;
}
.header--active .nav__list {
  justify-content: space-around;
}

@keyframes head-anim {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}
.nav {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.6s ease-in-out;
}
.nav--disable {
  transform: translate(0, -500%);
  opacity: 0;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 100px;
}
.nav__link {
  color: #fff;
  font: 400 18px/25px "Scope One", sans-serif;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .nav__link:hover {
    text-shadow: 1px 1px 0px #ffffff;
  }
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #010101;
  z-index: 10000;
}
.preloader__list {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #010101;
  filter: blur(10px) contrast(20);
  z-index: 10000;
}
.preloader__item {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader__item:nth-child(1) {
  left: 20%;
  animation: preloader-1 2.5s ease infinite;
}
.preloader__item:nth-child(2) {
  left: 80%;
  animation: preloader-2 2.5s ease infinite;
}

@keyframes preloader-1 {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes preloader-2 {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
.hero {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.hero--disable::before {
  background-color: black;
}
.hero::after {
  content: "";
  background-image: linear-gradient(360deg, #000, transparent);
  height: 155px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero__container {
  position: relative;
}
.hero__title {
  margin-bottom: 105px;
  text-align: center;
  display: block;
  max-height: 1000px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.hero__title--disable {
  max-height: 0px;
}
.hero__title-small {
  display: block;
}
.hero__btn {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  transition: max-width 0.5s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
.hero__btn--disable {
  padding: 15px 0;
  max-width: 0px;
}

.about {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__info {
  max-width: 620px;
  width: 100%;
  margin-right: 20px;
}
.about__title {
  margin-bottom: 40px;
}
.about__img-wrapper {
  max-width: 615px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
}
.about__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(50% 50% at 50% 50%, transparent, #010101);
}

.portfolio {
  padding: 100px 0;
}
.portfolio__title {
  text-align: center;
  margin-bottom: 35px;
}
.portfolio__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.portfolio {
  position: relative;
}
.portfolio-main {
  display: flex;
  margin-bottom: 30px;
}
.portfolio-main__item:not(:last-child) {
  margin-right: 100px;
}
.portfolio-main__btn {
  max-width: 160px;
  width: 100%;
}
.portfolio-category {
  display: flex;
}
.portfolio-category__btn {
  margin: 0 35px;
}
.portfolio-category__item {
  position: relative;
}
.portfolio-category__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 60%;
  width: 1px;
  background-color: #d2d2d2;
  transform: rotate(-20deg) translate(0, -50%);
}
.portfolio__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  visibility: hidden;
  max-height: 100vh;
  transition: all 0.2s ease-in-out;
}
.portfolio__modal-img {
  max-height: 85vh;
  height: 100%;
  background-color: #d2d2d2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.portfolio__modal-close {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 50px;
}
.portfolio__modal-bg {
  background-color: rgba(0, 0, 0, 0.6);
  visibility: visible;
}
.portfolio__modal-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 11;
}

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  column-gap: 20px;
}
.gallery--video {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.gallery__item {
  border: 1px solid #fff;
  display: inline-flex;
  margin: 0 0 20px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.gallery__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.gallery__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url(../images/zoom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .gallery__item:hover::after {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .gallery__item:hover::before {
    opacity: 1;
  }
  .gallery__item:hover .gallery__img {
    transform: scale(1.1);
    filter: blur(3px);
  }
}
.gallery__img {
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.gallery__video-poster {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
}
.gallery__video {
  width: 100%;
  height: auto;
}
.gallery__item-video {
  grid-column: 6 span;
  border: 1px solid #fff;
  margin: 10px 15px;
  width: 100%;
  min-height: 360px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.gallery__item-video::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 134px;
  background-image: url(../images/play-video.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .gallery__item-video:hover::before {
    opacity: 1;
  }
  .gallery__item-video:hover .gallery__img {
    transform: scale(1.1);
    filter: blur(3px);
  }
  .gallery__item-video:hover .gallery__item-video-title-wrapper {
    max-height: 1000px;
  }
  .gallery__item-video:hover .gallery__item-video-title {
    transform: translate(0, -500px);
  }
}
.gallery__item-video-title-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.gallery__item-video-title {
  transition: all 0.2s ease-in-out;
}

.image-preloader {
  width: 100%;
  height: 100%;
  background-color: #010101;
}
.image-preloader-inner {
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  filter: blur(10px) contrast(20);
  background-color: #010101;
  position: absolute;
  top: 50%;
  left: 50%;
}
.image-preloader--wrapper {
  width: 100%;
  height: 100%;
  background-color: #010101;
}
.image-preloader__item {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-preloader__item:nth-child(1) {
  left: 20%;
  animation: preloader-1 2.5s ease infinite;
}
.image-preloader__item:nth-child(2) {
  left: 80%;
  animation: preloader-2 2.5s ease infinite;
}

@keyframes preloader-1 {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes preloader-2 {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
.portfolio__modal-img {
  opacity: 0;
}

.contacts {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
}
.contacts__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contacts__left {
  max-width: 170px;
  width: 100%;
  margin-right: 150px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 45px;
}
.contacts__item-title {
  margin-bottom: 9px;
}
.contacts__item-link {
  font: 400 18px/25px "Scope One", sans-serif;
  color: #d2d2d2;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .contacts__item-link:hover {
    color: #fff;
    text-shadow: 1px 1px 0px #ffffff;
  }
}
.contacts__right {
  max-width: 420px;
  width: 100%;
}
.contacts__title {
  margin-bottom: 55px;
  text-align: center;
}

.contacts-social {
  display: flex;
}
.contacts-social__item:not(:last-child) {
  margin-right: 30px;
}
.contacts-social__link {
  transition: all 0.2 ease-in-out;
}
@media (min-width: 1025px) {
  .contacts-social__link:hover {
    filter: drop-shadow(0px 0px 10px #fff);
  }
}

.form__item {
  position: relative;
}
.form__item:not(:last-child) {
  margin-bottom: 60px;
}
.form__item::after {
  content: "";
  box-shadow: 0px 0px 5px #ffffff;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #747474;
  padding: 4px 0;
  font: 400 18px/25px "Scope One", sans-serif;
  color: #fff;
  width: 100%;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.form__input:focus {
  border-color: #fff;
}
.form__input:not(:placeholder-shown) ~ .form__lable {
  top: 150%;
  color: #d2d2d2;
}
.form__lable {
  color: #747474;
  font: 400 18px/25px "Scope One", sans-serif;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.form__btn {
  width: 100%;
}

.footer__wrapper {
  padding: 10px 0;
  border-top: 1px solid #747474;
  text-align: center;
}
.footer__text {
  color: #747474;
  font: 400 16px/20px "Scope One", sans-serif;
}
.footer__link {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .footer__link:hover {
    text-shadow: 1px 1px 0px #ffffff;
  }
}

.player {
  display: flex;
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  background-color: #010101;
  z-index: 10;
}
.player__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}
.player__controls-left {
  display: flex;
  align-items: center;
}
.player__controls-left-item {
  display: flex;
  align-items: center;
}
.player__controls-left-item:first-child {
  margin-right: 20px;
}
.player__controls-right {
  display: flex;
}
.player__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.player__volume {
  margin-right: 20px;
}
.player__volume:hover + .player__volume-range {
  max-width: 300px;
  opacity: 1;
}
.player__volume-range {
  -webkit-appearance: none;
  background-color: transparent;
  max-width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 10px 0;
}
.player__volume-range:hover {
  max-width: 300px;
  opacity: 1;
}
.player__volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translate(0, -50%);
  transition: all 0.2s ease-in-out;
}
.player__volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50px;
}
.player__time {
  font: 400 14px/14px "Ruda", sans-serif;
}
.player__time-el {
  padding: 0 10px;
}
.player__time-el:not(:last-child) {
  position: relative;
}
.player__time-el:not(:last-child)::after {
  content: "/";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.player__time-progress-range {
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -4px;
  width: 100%;
  transform: translate(0, -50%);
  margin: 3px 0;
}
.player__time-progress-range:hover::-webkit-slider-runnable-track {
  margin: 0;
  padding: 3px 0;
}
.player__time-progress-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translate(0, -50%);
  transition: all 0.2s ease-in-out;
}
.player__time-progress-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}